/* main */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Italiana&display=swap');



:root {
  --font-size-h1: 4rem;
  --font-size-h2: 1.9em;
  --bg-color-one: #FFFFFF; 
  --border-left-color: #FFB002; 
  --bg-color-two: #0E0E10;
  --bg-color-three: #FFB002;
  --bg-color-four: #D2D8FC;
  --paragraph-font-size: 1.15rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  opacity: 0;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

header .link-github  {
  display: block;
  text-align: center;
  background-color: var(--bg-color-three);
  text-decoration: none;
  border-radius: 30px;
  margin-top: 30px;

}

header  {
    display: grid;
    background-image: url("../img/background.jpg");
    background-size: cover;
    min-height: 40vh;
    background-repeat: no-repeat;
}

header .container {
  max-width: 35em;
  margin: 3em auto;
  padding: 2.5rem;
  background-color: var(--bg-color-one);
  border-left: .5em solid var(--border-left-color);
  border-radius: 1em;
}

body {
  margin: 0;
  line-height: 2;
  height: 100vh;
  font-family: "Cinzel";
}

svg {
  width: 0.75em;
}

.container {
  max-width: 80ch;
  margin: 8vh auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 15px;
}

header h1 {
  font-family: "Italiana";
  font-size: var(--font-size-h1);
  letter-spacing: 20px;
  font-weight: bolder;
  
}


nav {
  display: block;
  background: linear-gradient(30deg, var(--bg-color-three), var(--bg-color-four));
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}


header h2 {
  font-size: var(--font-size-h2);
  text-align: left;
  font-family: "Italiana";
}


h3 {
  font-size: var(--font-size-h3);
  font-family: "Italiana";
}

h4 {
  font-size: var(--font-size-h4);
  font-family: "Italiana";
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

 li {
  display: list-item;
}

nav ul a {
  display: inline-grid;
    padding: 0.5rem;
    color: var(--bg-color-two);
    font-size: 1em;
    text-decoration: none;
    position: relative;
}

nav ul a::after {
  width: 100%;
  height: 3px;
  opacity: 0;
  content: '';
  position: absolute;
  bottom: -2.5px;
  transition: all 300ms  ease-in-out 0s;
}

nav ul li:hover a:after {
  background-color: var(--bg-color-two);
  border-bottom: .5px solid var(--bg-color-two);
  opacity: 3;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a:not([class]) {
  text-underline-offset: 0.25em;
}

p {
  font-size: var(--paragraph-font-size);
}

:where(ul, ol) {
  list-style-position: inside;
}