/* main */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Italiana&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  line-height: 2;
  height: 100vh;
  font-family: "Cinzel";
}

svg {
  width: 0.75em;
}

.container,
nav {
  max-width: 80ch;
  margin: 8vh auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 15px;
}

h1 {
  font-family: "Italiana";
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  list-style: none;
  padding: 0;
  margin: 0;
  grid-gap: 1rem;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a:not([class]) {
  text-underline-offset: 0.25em;
}
